{{define "body"}}
    <div class='flex-container'>
        <label id='messageLabel' width='300' height='50'></label>
        <canvas id='myCanvas' width='300' height='300' style='border:1px solid #000000;'></canvas>
        <select id='roomCatalog'> 
        </select>
    </div>
{{end}}